# Importación de datos

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.model_selection import train_test_split

In [11]:
datos = pd.read_csv('D:/nuevo/universidad/Master/Proyecto_Integrador/Serie_Tiempo_Date_Normal.csv',  parse_dates=[2], infer_datetime_format= True)
datos["UNIDADES"] = pd.to_numeric(datos["UNIDADES"])
# datos = datos[datos['PRENDA'] == 'BLUSAS']
# datos = datos.drop(columns = ['PRENDA', 'ANO', 'SEMANA'])
datos

           Date  UNIDADES    Week_St     Week_Fi  Semana
0    03/01/2020        11 2019-12-29  04/01/2020       1
1    04/01/2020        16 2019-12-29  04/01/2020       1
2    02/01/2020        11 2019-12-29  04/01/2020       1
3    11/01/2020         3 2020-01-05  11/01/2020       2
4    05/01/2020        11 2020-01-05  11/01/2020       2
..          ...       ...        ...         ...     ...
863  25/09/2022         8 2022-09-25  01/10/2022      40
864  30/09/2022         4 2022-09-25  01/10/2022      40
865  29/09/2022         7 2022-09-25  01/10/2022      40
866  26/09/2022         4 2022-09-25  01/10/2022      40
867  27/09/2022         4 2022-09-25  01/10/2022      40

[868 rows x 5 columns]

In [12]:
df2_group = datos.groupby(by = ['Semana', 'Date']).sum()
df2_group = df2_group.sort_values(['Semana'],ascending = True) 
df2_group = df2_group.reset_index()
df2_group.head(25)

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_592\196409661.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2_group = datos.groupby(by = ['Semana', 'Date']).sum()

    Semana        Date  UNIDADES
0        1  02/01/2020        11
1        1  03/01/2020        11
2        1  04/01/2020        16
3        2  11/01/2020         3
4        2  10/01/2020         8
5        2  09/01/2020         8
6        2  08/01/2021         7
7        2  07/01/2021         7
8        2  07/01/2020        20
9        2  08/01/2020        11
10       2  06/01/2020         7
11       2  05/01/2021         7
12       2  05/01/2020        11
13       2  04/01/2021         5
14       2  03/01/2021        11
15       2  06/01/2021         3
16       3  14/01/2022         4
17       3  18/01/2020         7
18       3  17/01/2020         7
19       3  16/01/2020        20
20       3  15/01/2022        12
21       3  15/01/2021         7
22       3  15/01/2020        12
23       3  14/01/2021         5
24       3  12/01/2022         5

In [5]:
datos = pd.read_csv('D:/nuevo/universidad/Master/Proyecto_Integrador/bdSeriedetiempoSemanaAjustada.csv',  parse_dates=[2], infer_datetime_format= True)
datos["UNIDADES"] = pd.to_numeric(datos["UNIDADES"])
datos = datos[datos['PRENDA'] == 'BLUSAS']
datos = datos.drop(columns = ['PRENDA', 'ANO', 'SEMANA'])
datos

      UNIDADES  SEMANACORRIDA
0           38              1
8           68              2
22          73              3
28          84              4
35         119              5
...        ...            ...
1606        37            142
1616        52            143
1623        55            144
1645        48            145
1652        35            146

[133 rows x 2 columns]

# Modelos

## SARIMA